<div class="row">
    <div class="col-8 mx-auto">
        <div class="row fontButtons">

            <div class="col-1 mx-auto lead">
                <button type="button" class="btn btn-outline-primary textWhite" (click)="info()">
                    Info
                </button>
            </div>

            <div class="col-1 mx-auto lead">
                <button type="button" class="btn btn-outline-primary textWhite" (click)="materias()">
                    Materias
                </button>
            </div>

            <div class="col-1 mx-auto lead">
                <button type="button" class="btn btn-outline-primary textWhite" (click)="estado()">
                    Estado
                </button>
            </div>

        </div>
    </div>
</div>