<div class="row fondoIT">

    <!--   Foto Delgado Lucio   -->
    <div class="col-lg-5 fotoLucio">
        <img class="fotoMax" src="./assets/img/fotoLucio.png" alt="Foto Delgado Lucio Rodrigo">
    </div>

    <div class="col-lg-7">

        <!--   Titulo   -->
        <div class="row">
            <div class="col mt-5 mb-5 fontTitle">
                <h1>Delgado Lucio Rodrigo</h1>
            </div>
        </div>

        <!--   REDES   -->
        
        <!--   Whatsapp   -->
        <a href="https://api.whatsapp.com/send?phone=+5493482622020&text=Buenas,%20vengo%20desde%20la%20app%20de%20Mantenimiento%20Industrial">
            <div class="row">

                <div class="col-lg-1 cardRedes m40px">
                    <img class="imgRedes" src="./assets/img/wsp.png" alt="Icon Whatsapp">
                </div>
            
                <div class="col-lg-8 d-flex ">
                    <p class="textWhite align-middle">+54 9 3482 62-2020</p>
                </div>
            </div>
        </a>
        

        <!--   Gmail   -->
        <a href="mailto:delgadoluciorodrigo@gmail.com">
            <div class="row">

                <div class="col-lg-1 cardRedes m40px">
                    <img class="imgRedes alignVert" src="./assets/img/gm.png" alt="Icon Gmail">
                </div>
            
                <div class="col-lg-8 d-flex ">
                    <p class="textWhite align-middle">delgadoluciorodrigo@gmail.com</p>
                </div>
            </div>
        </a>


        <!--   LinkedIn   -->
        <a href="https://www.linkedin.com/in/delgadoluciorodrigo/">
            <div class="row">

                <div class="col-lg-1 cardRedes m40px">
                    <img class="imgRedes" src="./assets/img/lki.png" alt="Icon LinkedIn">
                </div>
            
                <div class="col-lg-8 d-flex ">
                    <p class="textWhite align-middle">https://www.linkedin.com/in/delgadoluciorodrigo/</p>
                </div>
            </div>
        </a>


        <!--   Instagram   -->
        <a href="https://www.instagram.com/delgadoluciorodrigo/">
            <div class="row">

                <div class="col-lg-1 cardRedes m40px">
                    <img class="imgRedes" src="./assets/img/ig.png" alt="Icon Instagram">
                </div>
            
                <div class="col-lg-8 d-flex ">
                    <p class="textWhite align-middle">https://www.instagram.com/delgadoluciorodrigo/</p>
                </div>
            </div>
        </a>


        <!--   Facebook   -->
        <a href="https://www.facebook.com/DelgadoLucioRodrigo/">
            <div class="row">

                <div class="col-lg-1 cardRedes m40px">
                    <img class="imgRedes" src="./assets/img/fb.png" alt="Icon Facebook">
                </div>
            
                <div class="col-lg-8 d-flex ">
                    <p class="textWhite align-middle">https://www.facebook.com/DelgadoLucioRodrigo/</p>
                </div>
            </div>
        </a>

    </div>
</div>