<div class="row">
    <div class="col-lg-8 offset-lg-2">
        <div class="card">
            <div class="card-body p-4">
                <h4>Tercer Año:</h4>

                <div class="row">
                    <div class="col-lg-7">Gestión de Seguridad, Salud Ocupacional y Medio Ambiente</div>
                </div>

                <div class="row">
                    <div class="col-lg-7">Ética y Responsabilidad Social</div>
                </div>

                <div class="row">
                    <div class="col-lg-7">Legislación Laboral</div>
                </div>

                <div class="row">
                    <div class="col-lg-7">Tecnología del Frío y Calor</div>
                </div>

                <div class="row">
                    <div class="col-lg-7">Mantenimiento Industrial III</div>
                </div>

                <div class="row">
                    <div class="col-lg-7">Automatización y Control</div>
                </div>

                <div class="row">
                    <div class="col-lg-7">Abastecimiento, Costos y Control de Gestión del Mantenimiento</div>
                </div>

                <div class="row">
                    <div class="col-lg-7">Neumática e Hidráulica</div>
                </div>

                <div class="row">
                    <div class="col-lg-7">Práctica Profesionalizante II</div>
                </div>
            </div>
        </div>    
    </div>
</div>