<div class="row">
    <div class="col-lg-8 offset-lg-2">
        <div class="card">
            <div class="card-body p-4">
                <h4>Segundo Año:</h4>

                <div class="row">
                    <div class="col-lg-7">Problemáticas Socio Contemporáneas</div>
                </div>

                <div class="row">
                    <div class="col-lg-7">Unidad de Definición Institucional II</div>
                </div>

                <div class="row">
                    <div class="col-lg-7">Innovación y Desarrollo Emprendedor</div>
                </div>

                <div class="row">
                    <div class="col-lg-7">Elementos de Máquinas y Mecanismos</div>
                </div>

                <div class="row">
                    <div class="col-lg-7">Tecnologías de los Materiales</div>
                </div>

                <div class="row">
                    <div class="col-lg-7">Mantenimiento Industrial II</div>
                </div>

                <div class="row">
                    <div class="col-lg-7">Instalaciones y Máquinas Eléctricas</div>
                </div>

                <div class="row">
                    <div class="col-lg-7">Inglés Técnico</div>
                </div>

                <div class="row">
                    <div class="col-lg-7">Práctica Profesionalizante I</div>
                </div>
            </div>
        </div>    
    </div>
</div>