<footer id="footer" class="mt-5 sticky navbar-fixed-bottom">
    <div class="row fondoNegro">
        <div class="col-lg-12 text-center textWhite">
            <span>
                <div class="footerpadding">
                    <p>Powered by: 
                    <button (click)="activar()" class="btn">
                        <img class="dlr" src="./assets/img/Logo_DLR_w.png" alt="Logo Delgado Lucio Rodrigo">
                    </button>
                    </p>
                </div>
            </span>
        </div>
    </div>
    
    <div *ngIf="validar" class="row fondoIT movingFooter">
        <div class="cerrarFooter">X</div>
        <div  id="fin" class="col-lg-4 fotoLucio">
            <img class="fotoMax" src="./assets/img/fotoLucio.png" alt="Foto Delgado Lucio Rodrigo">
        </div>

        <div class="col-lg-8">
            <div class="row">
                <div class="col-12 mt-3 fontTitle">
                    <h1>Delgado Lucio Rodrigo</h1>
                </div>
            </div>
            <div class="row">
                
            </div>
        </div>
    </div>
    
</footer>