<footer id="footer" class="mt-5 sticky navbar-fixed-bottom">
    <div class="row fondoNegro">
        <div class="col-lg-12 text-center textWhite">
            <span>
                <div class="footerpadding">
                    <p>Powered by: 
                    <button (click)="dlr()" class="btn">
                        <img class="dlr" src="./assets/img/Logo_DLR_w.png" alt="Logo Delgado Lucio Rodrigo">
                    </button>
                    </p>
                </div>
            </span>
        </div>
    </div>
</footer>