<footer class="mt-5">
    <div class="row fondoNegro">
        <div class="col-12 text-center textWhite">
            <span>
                <div class="footerpadding">
                    <p>Powered by: 
                    <img class="dlr" src="./assets/img/Logo_DLR_w.png" alt="Logo Delgado Lucio Rodrigo">
                    </p>
                </div>
            </span>
        </div>
    </div>
    
    <div class="row">
        <div class="col-6">
            Aca va mi Foto
        </div>
        <div class="col-6"> Aca las redes sociales</div>
    </div>
</footer>

