<div class="row">
    <div class="col-lg-8 offset-lg-2">
        <div class="card">
            <div class="card-body p-4">
                <span>
                    <H4 class="text-center">Estado</H4><br>               
                </span>

                <span *ngIf="estado">
                    <h1>Felicitaciones!!</h1>
                    <h4>Ya sos Tecnico Superior en Mantenimiento Industrial</h4>
                    <br><br>
                </span>

                <div class="row">
                    <div class="col-lg-10">
                        <p>Cantidad de materias</p>
                    </div>

                    <div class="col-lg-2"> {{  n_Materias | number: '2.0-1'  }} </div>
                </div>

                <hr>

                <div class="row">
                    <div class="col-lg-10">
                        <p>Cantidad de materias aprobadas</p>
                    </div>

                    <div class="col-lg-2"> {{  c_Aprobadas | number: '2.0-1'  }} </div>
                </div>

                <div class="row">
                    <div class="col-lg-10">
                        <p>Porcentaje</p>
                    </div>

                    <div class="col-lg-2"> {{  porc_A | number: '3.0-1'  }} %</div>
                </div>

                <hr>

                <div class="row">
                    <div class="col-lg-10">
                        <p>Cantidad de materias pendientes</p>
                    </div>

                    <div class="col-lg-2"> {{  c_Pendientes | number: '2.0-1'  }} </div>
                </div>

                <div class="row">
                    <div class="col-lg-10">
                        <p>Porcentaje</p>
                    </div>

                    <div class="col-lg-2"> {{  porc_P | number: '3.0-1'  }} %</div>
                </div>

                <hr>

                <div class="row">
                    <div class="col-lg-10">
                        <p>Promedio</p>
                    </div>

                    <div class="col-lg-2"> {{  prom | number: '2.0-1'  }}</div>
                </div>

            </div>
        </div>    
    </div>
</div>