<div class="row">
    <div class="col-lg-8 offset-lg-2">
        <div class="card">
            <div class="card-body p-4">
                <span>
                    <H4 class="text-center">Estado</H4><br>               
                </span>

                <div class="row">
                    <div class="col-lg-10">
                        <p>Cantidad de materias</p>
                    </div>

                    <div class="col-lg-2"> {{  n_Materias  }} </div>
                </div>

                <hr>

                <div class="row">
                    <div class="col-lg-10">
                        <p>Cantidad de materias aprobadas</p>
                    </div>

                    <div class="col-lg-2"> {{  c_Aprobadas  }} </div>
                </div>

                <div class="row">
                    <div class="col-lg-10">
                        <p>Porcentaje</p>
                    </div>

                    <div class="col-lg-2"> {{  promedio_A  }} %</div>
                </div>

                <hr>

                <div class="row">
                    <div class="col-lg-10">
                        <p>Cantidad de materias pendientes</p>
                    </div>

                    <div class="col-lg-2"> {{  c_Pendientes  }} </div>
                </div>

                <div class="row">
                    <div class="col-lg-10">
                        <p>Porcentaje</p>
                    </div>

                    <div class="col-lg-2"> {{  promedio_P  }} %</div>
                </div>

                <hr>

                <div class="row">
                    <div class="col-lg-10">
                        <p>Promedio</p>
                    </div>

                    <div class="col-lg-2"> {{  promedio  }} %</div>
                </div>

            </div>
        </div>    
    </div>
</div>