<div class="row">
    <div class="col-lg-8 offset-lg-2">
        <div class="card">
            <div class="card-body p-4">
                <h4>Primer Año:</h4>

                <div class="row">
                    <div class="col-lg-8">Comunicación</div>
                    <div class="col-lg-2"></div>
                    <div class="col-lg-2"></div>
                </div>

                <div class="row">
                    <div class="col-lg-8">Unidad de Definicion Institucional I</div>
                    <div class="col-lg-2"></div>
                    <div class="col-lg-2"></div>
                </div>

                <div class="row">
                    <div class="col-lg-8">Física</div>
                    <div class="col-lg-2"></div>
                    <div class="col-lg-2"></div>
                </div>

                <div class="row">
                    <div class="col-lg-8">Matemáticas y Estadística</div>
                    <div class="col-lg-2"></div>
                    <div class="col-lg-2"></div>
                </div>

                <div class="row">
                    <div class="col-lg-8">Química General e Industrial</div>
                    <div class="col-lg-2"></div>
                    <div class="col-lg-2"></div>
                </div>

                <div class="row">
                    <div class="col-lg-8">Informática</div>
                    <div class="col-lg-2"></div>
                    <div class="col-lg-2"></div>
                </div>

                <div class="row">
                    <div class="col-lg-8">Gestión de las Organizaciones y de la Calidad</div>
                    <div class="col-lg-2"></div>
                    <div class="col-lg-2"></div>
                </div>

                <div class="row">
                    <div class="col-lg-8">Sistemas de Representación</div>
                    <div class="col-lg-2"></div>
                    <div class="col-lg-2"></div>
                </div>

                <div class="row">
                    <div class="col-lg-8">Mecánica</div>
                    <div class="col-lg-2"></div>
                    <div class="col-lg-2"></div>
                </div>

                <div class="row">
                    <div class="col-lg-8">Mantenimiento Industrial I</div>
                    <div class="col-lg-2"></div>
                    <div class="col-lg-2"></div>
                </div>

                <div class="row">
                    <div class="col-lg-8">Electrotecnia</div>
                    <div class="col-lg-2"></div>
                    <div class="col-lg-2"></div>
                </div>
            </div>
        </div>    
    </div>
</div>