<div class="row">
    <div class="col-lg-8 offset-lg-2">
        <div class="card">
            <div class="card-body p-4">
                
                <div class="row">
                    <div class="col-lg-9">
                        <h4>Primer Año:</h4>
                    </div>
    
                    <div class="col-lg-3 align-self-end">
                        <button class="btn btn-secondary btn-block al" type="submit">Ingresar Notas</button>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-7">Comunicación</div>
                    <div class="col-lg-2"><span class="badge bg-danger">Ingrese Nota 1 - 10</span></div>
                    <div class="col-lg-2"><input type="number" class="form-control" min=1 max=10 value="0"></div>
                    <div class="col-lg-1"><button (click)="sumar()" type="submit">Ok</button></div>
                </div>

                <div class="row">
                    <div class="col-lg-7">Unidad de Definicion Institucional I</div>
                </div>

                <div class="row">
                    <div class="col-lg-7">Física</div>
                </div>

                <div class="row">
                    <div class="col-lg-7">Matemáticas y Estadística</div>
                </div>

                <div class="row">
                    <div class="col-lg-7">Química General e Industrial</div>
                </div>

                <div class="row">
                    <div class="col-lg-7">Informática</div>
                </div>

                <div class="row">
                    <div class="col-lg-7">Gestión de las Organizaciones y de la Calidad</div>
                </div>

                <div class="row">
                    <div class="col-lg-7">Sistemas de Representación</div>
                </div>

                <div class="row">
                    <div class="col-lg-7">Mecánica</div>
                </div>

                <div class="row">
                    <div class="col-lg-7">Mantenimiento Industrial I</div>
                </div>

                <div class="row">
                    <div class="col-lg-7">Electrotecnia</div>
                </div>
            </div>
        </div>    
    </div>
</div>