@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Russo+One&display=swap');

html {
    height: 100%;
}

body {
    background: #159957;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #155799, #159957);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #155799, #159957); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

ul{
    list-style: none;
    cursor: pointer;
}

.sombra :hover {
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.3);
    background-color: rgba(0, 17, 255, 0.3);
    border-radius: 10px;
}

.sombra :active {
    box-shadow: 3px 3px 3px 3px rgba(255, 255, 255, 0.3);
    background-color: rgba(104, 113, 235, 0.3);
    border: solid 2px white;
    border-radius: 10px;
}

.contenedor {
    overflow: hidden;
}

.cuerpo {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#footer {
    margin-top: auto;
}

.wcien {
    width: 100%;
    height: auto;
}

.w80 {
    width: 80%;
    height: auto;
}

.fontTitle {
    font-family: 'Montserrat', sans-serif;
    color: white;
}

.fontButtons {
    font-family: 'Russo One', sans-serif;
    color: white;
}

.mayusculas {
    text-transform: uppercase;
}

.semiFondo {
    background-color: rgba(255, 255, 255, 0.5);
}

.fondoIT {
    background-color: rgba(0, 0, 0, 0.5);
}

.fondoNegro {
    background-color: black;
}

.textWhite {
    color: white;
}

a:link, a:visited, a:active {
    text-decoration:none;
    color: black;
}

.dlr {
    max-height: 20px;
}

.footerpadding {
    padding-top: 10px;
}

.fotoLucio {
    display: flex;
    align-content: center;
    margin-top: 30px;

}

.fotoMax {
    width: auto;
    height: 100%;
    max-height: 500px;
    margin-left: auto;
    margin-right: auto;
}

.imgRedes {
    width: auto;
    height: auto;
    max-width: 40px;
    max-height: 40px;
}

.m40px {
    height: 40px;
}

.cardRedes {
    margin-bottom: 15px;
}

.alignVert {
    margin-top: auto;
    margin-bottom: auto;
    align-self: center;
}

.cNotas {
    width: 70px;
    margin-right: 10px;
}

.lineDots {
    border-bottom: 2px dotted rgb(230, 230, 230);
}

.m-l-10 {
    margin-left: 10px;
}

.textNoJump {
    block-size: auto;
    text-overflow: clip;
}



.btnPadding {
    padding: 5px 10px;
}

.max20px {
    max-height: 30px;
}

.animationFX {
    animation: fadeEffect 1s; /* Fading effect takes 1 second */
}

  
  /* Go from zero to full opacity */
  @keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
  }